* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigace */

nav {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
}

.login {
    float: right;
    margin-right: 1%;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

nav ul li a:hover {
    color: black;
    background-color: white;
}


.float:after {
    content: '';
    display: block;
    clear: both;
}

/* Main */

main {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Obrazky/Header-Background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

/* Footer */

footer {
    background-color: rgba(5,9,14,0.97);
    width: 100%;
    color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 2%;
}

.odkaz-footer {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.copy-foot p{
    margin: 1%;    
}