body {
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    margin: 0; 
}

.shoplink{
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

/* CAROUSEL */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 300px; 
    overflow: visible;
    position: relative;
}  

.carousel-items {
    border: 5px solid white; /* MŮŽE BÝT I BEZ BORDERU*/
    box-sizing: border-box;
    width: 40%;
    max-width: 1000px;
    position: relative;
    margin-top: 40%;
    background-color: rgba(255, 255, 255, 0.4) /* NEMUSÍ BÝT */

}

.carousel-item {
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

button {
    background-color: #0099cc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00789c;
    transition: transform 0.5s;
    transform: translateY(100%);
}

.button:hover span {
    transform: translateY(0);
}

.carousel-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%; /* POZICE ŠIPEK (JAK NAHOŘE BUDOU). BUDE SE MĚNIT PODLE OBRÁZKU*/
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel-arrow.right{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.carousel-arrow.left{
    left: 0;
}


