.indexlink {
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

.logodiv {
    position: relative;
    top: 35%;
    display: inline-block;
    left: 40%;  
}

#logoName {
    font-size: 75px;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid red;
    text-align: center;
}

.logoP {
    font-size: 25px;
    color: rgb(145, 145, 145);
    font-weight: bold;
    text-align: center;
}
