.recenzelink {
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

.recenze{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: red;
    align-items: center;
    text-align: center;
}

#reviewGallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.reviewItem {
    background-color: #555;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#prevButton,
#nextButton {
    margin-top: 10px;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#prevButton:hover,
#nextButton:hover {
    background-color: #444;
}
