/* styles.css */

.registracelink {
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label_div {
    color: #ffffff;
    display: grid;
    align-items: center;
}

.register-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    height: 100%;
  }
  
  .register-container label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .register-container input[type="text"],
  .register-container input[type="email"],
  .register-container input[type="password"] {
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    width: 100%;
  }
  
  .register-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .register-container input[type="submit"]:hover {
    background-color: #444;
  }
.button-container{
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 415px;
    background-color:rgba(43, 43, 44, 0.805);
    height: 500px;
}

.button {
    grid-template-columns: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 20px 0;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.button:hover {
    font-size: 20px;
    color: red;
    transition: 0.5s;
}

.button:active {
    background-color: red;
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.25s;
    transform: translateX(-100%);
    z-index: -1;
}

.button:hover span {
    transform: translateX(0);
}

.inputbutton{
    display: none;
}
