body {
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    margin: 0; 
}

.shoplink{
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

/* CAROUSEL */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 300px; 
    overflow: visible;
    position: relative;
}  
.carousel-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%; /* POZICE ŠIPEK (JAK NAHOŘE BUDOU). BUDE SE MĚNIT PODLE OBRÁZKU*/
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel-arrow.right{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.carousel-arrow.left{
    left: 0;
}

.carousel-items {
    max-width: 1000px;
    position: relative;
    margin-top: 40%;

}

.carousel-item {   
    border-radius: 65px     ;
    width: 100%;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    white-space: nowrap;
}
.carousel-item .image{   
    width: 700px;
    height: 840px;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
                15px 20px 5px rgba(0,0,0,0.35),
                20px 25px 15px rgba(0,0,0,0.35);
    border-radius: 65px;
    box-sizing: border-box;
    display: block;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    background-color: rgb(0, 0, 0);
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
                20px 25px 10px rgba(0,0,0,0.35),
                25px 25px 15px rgba(0,0,0,0.35);
    height: 100%;
    width: 100%;
    border-radius: 65px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center

  }
.member{    
    margin-bottom: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    margin-top:25% ;    
  }
.vyhody-head{
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
}

.vyhody{
    font-size: 17.5px;
    margin-top: 10px;
    margin-left: 55%;
    transform: translateX(-48%);
    text-align: left;
    line-height: 25px;

  }
  
.cena{

    font-size: 20px;
    font-weight: bold;
    margin-top: 3vw;
}

.text1{
    font-size: 17.5px;  
}
.carousel-item:hover .image {
    opacity: 0.15;
  }
  
.carousel-item:hover .middle {
    opacity: 0.85;
  }

.button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 20px 50px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2.5vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:hover{
    font-size: 20px;
    color: red;
    transition: 0.5s;
}
.button:active{
    background-color: red;
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.25s;
    transform: translateX(-100%);  
    z-index: -1;  
}

.button:hover span {    
    transform: translateX(0);    
}



